body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
  height: 5rem;
}

.banner {
  height: 90vh;
}

.body {
  margin: 0;
}

.box {
  padding: 20px;
  position: absolute;
  margin-left: 15%;
  z-index: 1;
  margin-top: 9%;
  background-color: #fff;
}

img.mg-4 {
  bottom: 0;
  position: fixed;
}

img.mg-5 {
  float: left;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

p.text {
  font-size: xx-large;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.btn {
  border-radius: 100px;
  font-weight: 500;
  width: 150px;
}

.main {
  background-image: url("./images/Mask Group 6@2x.png");
  background-size: 100% auto;
  height: 100vh;
  width: 100%;
  background-position: 50%;
  font-family: cursive;
}

.logo {
  height: 5rem;
  float: right;
}

.card {
  width: 70%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 #fff, 0 6px 20px 0 #000;
  color: #211c98;
  text-align: center;
  padding: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.feedback {
  background-image: url("./images/background.svg");
  background-size: 100% auto;
  height: 100vh;
  width: 100%;
  background-position: 50%;
  font-family: cursive;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.component {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 #fff, 0 6px 20px 0 #000;
}

.navRoot {
  position: fixed;
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  background-color: #000;
  height: 100%;
  z-index:100
}

/* .navRoot:hover {
  max-width: 175px;
  min-width: 175px;
  width: 175px;
} */

.hashedinLogo {
    margin: -1.5rem;
    bottom: 4.5rem;
    font-size: large;
    position: fixed;
    color: #fff;
    transform: rotate(-90deg);
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/* .navRoot:hover .hashedinLogo  {
  -webkit-transform: rotate(-1turn);
  transform: rotate(-1turn);
  margin-left: 2%;
  bottom: 1%;
  bottom: 2rem;
} */

.hashedinTitle {
    font-weight: bolder;
    font-size: 1.4rem;
    line-height: 1.5rem
}

.hashedinText {
    color: #ffa500;
}

.deloitteTitle {
    font-size: .8rem;
}